{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<video id="video1" controls   
             src="http://www.double.co.nz/video_test/transformers480.ogg"></video>   
  <br>
  <button onclick="play()">재생</button>
  <button onclick="pause()">일시정지</button> 
  <button onclick="mute()">음소거</button> 
  
  볼륨:<input id="volumecontrol" type="range" max="1" step="any" onchange="updateVolume()">
  
  <div id="time"></div>
  <div id="downLoadState"></div>

<script type="text/javascript"> 
  var video1 = document.getElementById("video1");    
            
  //비디오 재생  
  function play(){
    video1.play();
    video1.volume = volumecontrol.value;    
  }  
  //비디오 일시정지
  function pause(){
    video1.pause();
  }     
  //음소거
  function mute(){
    video1.muted = !video1.muted;
  }  
  //볼륨조절        
  function updateVolume() {
    video1.volume = volumecontrol.value;
  }  
  
  //timeupdate 이벤트 구현(재생시간 현황 표시)
  video1.addEventListener("timeupdate", 
    function(){        
      document.getElementById("time").innerHTML = 
               Math.floor(video1.currentTime) + "/" + Math.floor(video1.duration) + "(초)";
    }
    , false
  );   
     
  //progress 이벤트 구현(비디오 다운로드 현황 표시)
  video1.addEventListener("progress",
    function(e){
      var downLoadState = document.getElementById("downLoadState");
      
      if(video1.networkState == 2){
        downLoadState.innerHTML = e.loaded + "/" + e.total + "byte";        
      }
      else if(video1.networkState == 3){
        downLoadState.innerHTML = "완료";
      }
    }
    , false
  );        
</script>

{{template "footer.html" .}}
